.story_panel__container {

  margin: 48px 72px;

  height: 900px;
  overflow-y: scroll;
  overflow-x: hidden;

}

.story_title__container {

  margin-bottom: 0.5em;

  h2 {
    padding-bottom: .3em;
    font-size: 2em;
    line-height: 1.334;
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;

    .right {
      font-size: 0.6em;
    }

  }

  // 描述
  .description{
    font-size: 1.2em;
  }

}

.examples {
  width: 100%;
}

.example__container {

  margin: 3em 0;

  .children {
    padding: 48px 72px;

    text-align: center;
    display:flex;

    justify-content: center;
    align-items: center;
  }

  .example_title {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(232, 232, 232);
    height: 56px;
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
  }
}

.props__container {
  margin: 2em 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media(max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
