.wp_scroll_select {
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.wp_scroll_select_list {
  width: 100%;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wp_scroll_select_item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wp_scroll_select_cover_top {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.6));
  border-bottom: 1px solid #c6c6c6;
}

.wp_scroll_select_cover_bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0.6));
  border-top: 1px solid #c6c6c6;

}