
.upload_chooser__container {

  height: 100%;
  width: 100%;

  cursor: pointer;
  position: relative;

  .upload_chooser__button {
    position: relative;
  }

  .upload_chooser__input {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
