@import "../../../../shared/style/color/colors";

.file_card__container {

  width: 240px;
  height: 300px;

  .content {

    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;

    .checkbox {
      position: absolute;
      margin: 1em;
      z-index: 99;
    }

    //图片
    .cover {

      flex: 0 0 80%;
      width: 100%;

      background-color: rgb(241, 245, 256);
      background-size: 100% 100%;

      display: flex;
      position: relative;
      justify-content: center;

      > span {

      }

    }

    .bottom {

      flex: 1 1 5%;

      padding: 0 1em;

      display: flex;

      justify-content: space-between;
      align-items: center;

      //文件名和创建时间
      .info {

        flex: 0 0 80%;
        width: 100%;
        font-size: 16px;

        .name {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .date {
          font-size: 12px;
          color: $greyColor;

        }

      }

      .menu {

        flex: 0 0 10%;
        display: flex;
        justify-content: flex-end;

        .icon_menu {
          position: absolute;
          top: 8px;
          right: 4px;
          height: 62px;
        }
      }

    }

  }

}