//定义全局颜色变量
//淡灰色
$lightGreyColor: rgb(239, 239, 239);

//灰色
$greyColor: rgb(171, 171, 171);

//深灰色
$darkGreyColor: #4a4a4a;

//深红色
$darkRedColor: #D9255E;

//深天蓝色
$darkSkyBlueColor: #0097a7;

//深橘黄色
$darkOrangeColor: rgb(235, 114, 0);

//material蓝色
$materialBlueColor: rgb(0, 188, 212);